@use '../../../../scss/variables' as *;
@use '../../../../scss/mixins' as *;
@use '../../../../scss/utilities' as *;

.card {
  @include theme-card;
  padding: $spacing-lg;
  border-radius: $border-radius-xl;
  backdrop-filter: $backdrop-filter;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  transition: all $transition-medium;
}
