<card>
  <nav class="side-nav">
    <div class="nav-container">
      <div class="active-indicator" #activeIndicator></div>      <ul #navList>
        @for (item of navItems; track item.sectionId) {
          <li>
            <a 
              (click)="scrollToSection(item.sectionId)"
              [attr.data-section]="item.sectionId"
              [class.active]="currentActiveSection === item.sectionId">
              <mat-icon>{{ item.icon }}</mat-icon>
              <span>{{ item.label }}</span>
            </a>
          </li>
        }
      </ul>
    </div>
    
    <div class="theme-toggle-container">
      <theme-toggle></theme-toggle>
    </div>
  </nav>
</card>
