<card>
  <div class="experiences">
    <h1 class="page-title">{{ sectionContent.title }}</h1>
    <div class="experiences-content">
      <p class="intro">{{ sectionContent.intro }}</p>

      <div class="timeline">
        <div class="experience-item" *ngFor="let experience of experiences" [class.current]="experience.current">
          <div class="experience-header">
            <h3>{{ experience.position }}</h3>
            <span class="period">{{ experience.period }}</span>
            <span class="current-badge" *ngIf="experience.current">Current</span>
          </div>
          <div class="company">{{ experience.company }}</div>
          <div class="description">
            <ul>
              <li *ngFor="let item of experience.description">{{ item }}</li>
            </ul>
          </div>
          <tech-stack [technologies]="experience.technologies" />
        </div>
      </div>
    </div>
  </div>
</card>